/deps/
/assets/node_modules/
/_build/
/priv/static/assets/
/priv/static/cache_manifest.json
/cover/
/doc/
/boundary/
erl_crash.dump
.env
/infra/secrets.yaml
/infra/controlplane.yaml
/infra/worker.yaml
/infra/talosconfig
/infra/kubeconfig
/infra/*tfstate*
/infra/.terraform
/infra/.terraform.lock.hcl
**/.DS_Store
