/_build/
/cover/
/deps/
/doc/
/.fetch
erl_crash.dump
*.ez
anthill-*.tar
/priv/static/assets/
/priv/static/cache_manifest.json
npm-debug.log
/assets/node_modules/

# Ignore generated js hook files for components
assets/js/_hooks/

# Ignore generated CSS file for components
assets/css/_components.css
