/deps/
/assets/node_modules/
/_build/
/priv/static/assets/
/priv/static/cache_manifest.json
/cover/
/doc/
/boundary/
erl_crash.dump
.env
/infra/*tfstate*
/infra/.terraform
/infra/.terraform.lock.hcl
/infra/talos/secrets.yaml
/infra/talos/controlplane.yaml
/infra/talos/worker.yaml
/infra/talos/talosconfig
/k8s/kubeconfig
/k8s/secrets.agekey
/k8s/secrets/*.secret.*
**/.DS_Store
Session.vim
