Login
<%= if @flow.ui.messages do %>
  <%= for message <- @flow.ui.messages do %>
    <%= message.text %>
  <% end %>
<% end %>

<form action={@flow.ui.action} method={@flow.ui.method}>
  <.ui_nodes nodes={@oidc} />
</form>
